/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v30-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-v30-latin-700.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

:root {
  --bg-color: #fff;
  --text-color: #fff;
  --subtitle-text-color: #333333;
  --section-text-color: #000;
  --title-color: #222222;
  --button-bg-color: #ea625c;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-weight: 700;
}

/* ****************** site header start ******************** */
.site-header {
  padding-top: 30px;
  background-color: var(--bg-color);
}

.container {
  width: 1150px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.site-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-end {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-right: 40px;
}

.site-nav-item:not(:first-child) {
  margin-left: 30px;
}

.site-nav-item-link {
  position: relative;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: var(--subtitle-text-color);
  padding-bottom: 5px;
}

.site-nav-item-link:hover {
  color: var(--section-text-color);
  border-bottom: 1px solid var(--section-text-color);
}
.input {
  max-width: 100%;
  border: none;
  border-bottom: 1px solid var(--subtitle-text-color);
  outline: none;
  padding-bottom: 10px;
}
input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #666666;
}
/* ****************** site header end ******************** */

/* ************ site main start ********** */
/* ************ hero section start *********** */
.hero-section {
  padding-top: 170px;
  padding-bottom: 185px;
  background-image: url(../images/iwatches.png);
  background-repeat: no-repeat;
  background-size: 587px;
  background-position: calc(50% + 550px) calc(50% - -64px);
  border-bottom: 2px solid #dddddd;
}

.hero-section-title {
  font-size: 50px;
  line-height: 120%;
  color: var(--section-text-color);
  margin-top: 0;
  margin-bottom: 30px;
}

.hero-section-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #777777;
  width: 450px;
  border-left: 3px solid #888888;
  padding-left: 40px;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero-section-desc {
  text-decoration: none;
  background-color: var(--button-bg-color);
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--text-color);
  padding: 12px 38px;
}

.hero-section-desc:hover {
  background-color: #b83d37;
}

.hero-section-desc:active {
  background-color: #e77c76;
}
/* ************ hero section end *********** */

/* *********** services section start ************ */
.services-section {
  padding-top: 68px;
}

.serivices-section-wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.serivices-section-box {
  width: 280px;
  /* margin-left: 80px; */
}

/* .serivices-section-box:first-child{
  margin-left: 0;
} */

.serivices-section-subtitle {
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #222222;
  margin-top: 0;
  margin-bottom: 30px;
}

.serivices-section-decs {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #333333;
  margin-top: 0;
  margin-bottom: 20px;
}

.services-section-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.services-section-item {
  width: 8px;
  height: 8px;
  background-color: #dddddd;
  margin-right: 10px;
}

.learn-more-content {
  display: flex;
  align-items: center;
}

.serivices-section-learn-more {
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  color: var(--button-bg-color);
  margin-left: 10px;
  cursor: pointer;
  transition: width 0.2s ease;
  margin-top: 0;
  margin-bottom: 0;
}

.learn-more-content:hover .learn-more-box {
  width: 50px;
}
.learn-more-box {
  width: 40px;
  height: 2px;
  background-color: var(--button-bg-color);
  transition: width 0.2s ease;
  cursor: pointer;
}

/* *********** services section end ************ */

/* ************* iwatch-section start ************** */
.iwatch-section {
  padding-top: 140px;
  padding: 70px;
}

.iwatch-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iwatch-section-title {
  width: 380px;
  font-size: 50px;
  line-height: 120%;
  color: var(--section-text-color);
  margin-top: 0;
  margin-bottom: 30px;
}

.iwatch-section-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #777777;
  border-left: 3px solid #888888;
  padding-left: 40px;
  width: 450px;
  margin-top: 0;
  margin-bottom: 30px;
}

.iwatch-section-btn {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 90px;
  background-color: var(--button-bg-color);
  border: transparent;
  cursor: pointer;
}

.iwatch-section-btn:hover {
  background-color: #c53e36;
}

.iwatch-section-btn:active {
  background-color: #e77c76;
}
/* *********** iwatch-section end ********** */

/* *************** site footer start ************** */
.site-footer {
  padding-top: 240px;
  padding-bottom: 240px;
  background-image: url(../images/runners.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.site-footer-wrapper {
  display: flex;
  align-items: center;
}

.site-footer-box {
  margin-left: auto;
}

.site-footer-title {
  font-size: 50px;
  line-height: 120%;
  color: #ffffff;
  width: 490px;
  margin-top: 0;
  margin-bottom: 30px;
}

.site-footer-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--bg-color);
  margin-top: 0;
  margin-bottom: 30px;
  width: 450px;
  border-left: 3px solid var(--bg-color);
  padding-left: 40px;
}

.site-footer-explore {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: var(--button-bg-color);
  padding: 12px 46px;
}

.site-footer-explore:hover {
  background-color: #c53e36;
}

.site-footer-explore:active {
  background-color: #e77c76;
}
/* *************** site footer end ************** */
/* ************ site main end *********** */
